@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
*{
    margin: 0px;
}


.main-div{
display: flex;
justify-content: center;
background-color: antiquewhite;

}
.container{
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.inner-div{
    background-color: rgb(255, 250, 244);
    padding: 25px;
    margin: 10px;
}

.image-sty {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%; 
    
}
.headerText {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin: 0px 15px ;
  }


 p{
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: justify;
    margin: 30px 0px;
    
  }
ul li,ol li {
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: justify;
    margin: 15px 0px;

    
}
h1{
    color: rgb(143, 41, 41);
    font-family: "Young Serif", serif;
    font-weight: 400;
    margin: 20px 0px;
    font-style: normal;
}

.spn-tex{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
   color:rgb(143, 41, 41);
}
hr{
    margin: 5px;
}

.table-div{
    display: flex;
    width: 100%;



}
.t-body-div{
    width: 50%;
 
}


